<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Pokemons</mat-label>
    <input matInput
           aria-label="State"
           [matAutocomplete]="auto"
           [formControl]="pokemonForm"
           [(ngModel)]="value">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="someMethod()">
      <mat-option *ngFor="let pokemon of filteredPokemons | async" [value]="pokemon.name" >
        <span>#{{pokemon.id}}</span>
        <img alt="" class="example-option-img" [src]="pokemon.image" height="70">
        <span>{{pokemon.name}}</span>
      </mat-option>
    </mat-autocomplete>
    <button type="button" *ngIf="value" button mat-icon-button matSuffix (click)="value = ''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>
