@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: black;
  color: white;
  padding: 0 256px;
}

.title{
  padding-left: 0.5vh;
  font-family: 'Pokemon Solid', sans-serif;
}
